@import "tailwindcss";

@keyframes dropPulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

.drop-glow {
  animation: dropPulse 2s ease-in-out infinite;
  filter: blur(1px);
}

/* ✅ slick dots design */
.slick-dots {
  @apply flex justify-center gap-2 mt-4;
}

.slick-dots li button:before {
  @apply text-transparent;
}

.slick-dots li button {
  @apply w-4 h-4 bg-gray-300 rounded-full transition-all duration-300;
}

.slick-dots li.slick-active button {
  @apply bg-black w-4 h-4;
}



